body {
  background-color: #89adb5;
}

@media (min-width: 576px) {
  #todo-container .container {
    max-width: 450px;
  }
}

#todo-container .list-container {
  margin: 40px auto;
  background: linear-gradient(135deg, rgba(158, 15, 184, 0.7) -10%, rgba(5, 232, 255, 0.8) 180%), url(https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg);
  background-size: cover;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 25px;
}

#todo-container .list-container .title {
  padding: 30px 0;
}

#todo-container .list-container .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ced4da;
}

#todo-container .list-container #add-list .form-row {
  position: relative;
}

#todo-container .list-container #add-list .form-row .submit-btn {
  position: absolute;
  right: 15px;
  top: 9px;
}

#todo-container .list-container #add-list .form-row .submit-btn button {
  border-radius: 25px;
}

#todo-container .list-container #add-list .form-row .submit-btn button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#todo-container .list-container #add-list .form-row input {
  padding-right: 110px;
  height: 56px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

#todo-container .list-container #created-list {
  padding: 0px;
}

#todo-container .list-container #created-list li {
  padding: 10px 40px;
  color: #000;
  word-break: break-all;
  position: relative;
  cursor: pointer;
  margin: 10px 0;
  padding-right: 80px;
  background-color: white;
  border-bottom: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#todo-container .list-container #created-list li:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  z-index: 1;
}

#todo-container .list-container #created-list li * {
  cursor: pointer;
}

#todo-container .list-container #created-list li:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 5px;
  background-color: #53AF50;
}

#todo-container .list-container #created-list li:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 5px;
  background-color: #F3C623;
}

#todo-container .list-container #created-list li .fa-check-circle {
  color: #744bc0;
}

#todo-container .list-container #created-list li #list-strike {
  position: absolute;
  top: 23px;
  left: 15px;
}

#todo-container .list-container #created-list li label {
  margin: 0 3px;
  padding: 7px 0px;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
  font-weight: 700;
}

#todo-container .list-container #created-list li #list-edit.form-control {
  padding-left: 2px;
}

#todo-container .list-container #created-list li .update-btn, #todo-container .list-container #created-list li .save-btn, #todo-container .list-container #created-list li .delete-btn {
  position: absolute;
  top: 13px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#todo-container .list-container #created-list li .update-btn i, #todo-container .list-container #created-list li .save-btn i, #todo-container .list-container #created-list li .delete-btn i {
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: rgba(0, 0, 0, 0.501);
}

#todo-container .list-container #created-list li .update-btn:hover .fa-edit, #todo-container .list-container #created-list li .save-btn:hover .fa-edit, #todo-container .list-container #created-list li .delete-btn:hover .fa-edit {
  color: rgba(0, 0, 255, 0.7);
}

#todo-container .list-container #created-list li .save-btn:hover .fa-save {
  color: rgba(0, 255, 0, 0.7);
}

#todo-container .list-container #created-list li .delete-btn {
  right: 8px;
}

#todo-container .list-container #created-list li .delete-btn:hover .fa-trash-alt {
  color: rgba(255, 0, 0, 0.7);
}

@-webkit-keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#todo-container .list-container .strike {
  position: relative;
  color: #777777;
  font-style: italic;
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}

#todo-container .list-container .strike::after {
  content: ' ';
  position: absolute;
  top: 52%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  -webkit-animation-name: strike;
          animation-name: strike;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/*# sourceMappingURL=style.css.map */